#first-page {
	min-height: 100vh;
	/*background-color: skyblue;*/
	background: 

	linear-gradient(
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0.8)),
	url(../images/cave.jpg);

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.margin-top {
	margin-top: 50px;
}