
.container-fluid, footer {
	background-color: #000000; /* black */
	padding-top: 50px;
}

.navbar-toggler-icon {
  margin-top: 10px;
  color: #bf990d;
  font-size: 28px;
  background-color: #000;
} 

#first-page {
	min-height: 100vh;
	/*background-color: skyblue;*/
	background: 

	linear-gradient(
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0.8)),
	url(../images/cave.jpg);

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 95%;
}

#first-page-first-col {
	margin-top: 80px;
	width: 100%;
}

#question1 {
	color: #bf990d; /* Yellow */
	opacity: 40%;
	font-size: 300%;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-left: 30px;
	margin-top: 130px;
}

#question2 {
	font-family: 'Parisienne', cursive;
	font-size: 200%;
	color: #ffffff;
	opacity: 100%;
	letter-spacing: 5px;
	margin-bottom: 30px;
	font-weight: 100;
	padding-left: 30px;
}

button {
	background-color: transparent;
	border: 3px solid #bf990d;
	color: #bf990d;
	padding: 15px 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 7px;
	margin-left: 30px;
	opacity: 50%;
}

#tellme a {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #bf990d;
}

#tellme a:hover, #tellme a:active {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #bf990d;
	text-decoration: none;
}

.navbar {
	background-color: #000000;
	margin-bottom: 100px;
	margin-left: 20px;
}

.yellow {
	color: #bf990d; /* Yellow */
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	opacity: 50%;
	font-size: 20px;
	text-transform: uppercase;
}

#popup-yellow {
		color: #bf990d; /* Yellow */
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	opacity: 50%;
	font-size: 20px;
	text-transform: uppercase;
}

#thick {
	font-weight: 900;
}

.navbutton:hover {
	color: #bf990d;
	text-decoration: none;
	opacity: 100%;
}

#tellme {
	background-color: transparent;
	border: 3px solid #bf990d;
	color: #bf990d;
	padding: 15px 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	opacity: 50%;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 7px;
	margin-left: 30px;
}

#tellme:hover {
	color: #bf990d;
	opacity: 100%;
}

#tellme:focus {
	outline: 0;
}

#tellme:active {
	outline: 0;
	background-color: #bf990d;
	color: #000;
	opacity: 50%;
}

#second-page {
	/*margin: 90px 30px;*/
	padding-top: 100px;
	min-height: 70vh;
}

#youre-strong {
	text-transform: uppercase;
	color: #bf990d;
	font-family: 'Roboto', sans-serif;
	opacity: 40%;
	font-size: 60px;
	margin-left: 20px;
}

#we-get-it {
	font-family: 'Parisienne', cursive;
	color: #fff;
	font-size: 20px;
	opacity: 100%;
	letter-spacing: 1.5px;
	margin-left: 20px;
}

#badly {
	font-family: 'Roboto', sans-serif;
	color: #bf990d;
	text-transform: uppercase;
	letter-spacing: 3px;
}

#jl {
	margin-top: 0;
}

#third-page h2 {
	margin-top: 50px;
	margin-bottom: 30px;
	text-transform: uppercase;
	color: #bf990d;
	font-family: 'Roboto', sans-serif;
	opacity: 40%;
	font-size: 30px;
	margin-left: 30px;
}

#cards-page {
	min-height: 80vh;
}

#yellow-bg {
	background-color: #bf990d;
}

#hooked {
	margin-top: 50px;
	margin-bottom: 30px;
	text-transform: uppercase;
	color: #bf990d;
	font-family: 'Roboto', sans-serif;
	opacity: 40%;
	font-size: 30px;
	margin-left: 20px;
	min-height: 58vh;
}

#ask {
	background-color: transparent;
	border: 3px solid #bf990d;
	color: #bf990d;
	padding: 15px 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 7px;
	margin-left: 25px;
	opacity: 50%;
}

#ask a {
	color: #bf990d;
	font-family: 'Roboto', sans-serif;
}

#ask a:active {
	color: #bf990d;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

footer {
	font-family: 'Roboto', sans-serif;
	color: #bf990d;
	opacity: 10%;
	clear: both;
}

#landing1 {
	min-height: 100vh;
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
}

#upper-margin {
	margin-top: 10px;
}

#landing1 .col-12 #upper-margin {
	color: #bf990d; /* Yellow */
	opacity: 40%;
	font-size: 300%;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-left: 15px;
	margin-top: 30px;
}

#landing1 .col-12 button {
	background-color: transparent;
	border: 3px solid #bf990d;
	color: #bf990d;
	padding: 15px 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 7px;
	margin-left: 15px;
	opacity: 50%;	
} 

#landing2 .col-12 {
	color: #bf990d; /* Yellow */
	opacity: 40%;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-left: 15px;
	margin-top: 30px;
}

#landing2 .col-12 h2 {
	margin-bottom: 50px;
}

#about1 {
	min-height: 100vh;
	margin-left: 15px;
	margin-right: 15px;
}

img {
	/*margin-top: 75px;*/
	width: 100%;
	margin-bottom: 0;
	display: block;
}

.card {
	border: none;
}

#about1 h2 {
	margin-top: 73px;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #bf990d;
	font-family: 'Roboto', sans-serif;
	opacity: 40%;
	font-size: 30px;
	margin-left: 30px;
}

#about1 p {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 20px;
	opacity: 100%;
	/*letter-spacing: 1.5px;*/
	margin-left: 30px;
}

#about1 button {
	background-color: transparent;
	border: 3px solid #bf990d;
	color: #bf990d;
	padding: 15px 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 7px;
	margin-left: 30px;
	opacity: 50%;
}

#mentors {
	/*margin-top: 100px;*/
	background-color: black;
}

#mentor-title h2{
		/*margin-top: 100px;*/
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #bf990d;
	font-family: 'Roboto', sans-serif;
	opacity: 40%;
	font-size: 300%;
	margin-left: 11px;
	position: relative;
	right: 30px;
	font-weight: bolder;
}

#mentor-title h2 {
	padding-top: 30px;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
    color: #bf990d;
	font-family: 'Roboto', sans-serif;
	/*margin-top: 20px;*/
	margin-bottom: 0;
}

#question {
	margin-bottom: 0;
	margin-top: 20px;
	height: 50px;
}

input, textarea, .mentor {
  /*display: inline-block;*/
  float: left;
}

form div input, form div select {
	margin-bottom: 15px;
}

form div label {
	margin-bottom: 0;
}

label, input {
	margin-bottom: 20px;
}

#contact {
	padding-left: 30px;
	padding-right: 30px;
}

#contact h1 {
	color: #bf990d; /* Yellow */
	opacity: 40%;
	font-size: 200%;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	/*margin-bottom: 20px;*/
	font-weight: 900;
	margin-top: 50px;	
}

#contact p {
	font-family: 'Parisienne', cursive !important;
	color: #fff; /* Yellow */
	opacity: 40%;
	font-size: 150%;
	/*margin-bottom: 20px;*/
	/*padding-left: 30px;*/
}

#contact .col-12 {
	min-height: 10px;
}

#form1 {
	min-height: 30vh;
}

#submit1 {
	background-color: transparent;
	border: 3px solid #bf990d;
	color: #bf990d;
	padding: 15px 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 7px;
	margin-left: 30px;
	opacity: 50%;
}

.zero-margin-bottom {
	margin-bottom: 0;
	opacity: 30%;
}

footer p {
	opacity: 30%;
}

.no-padding {
	padding-left: 0; !important;
	padding-right: 0; !important;
	border: none; !important;
}

.card {
	border: none !important;
}

.sides-30 {
	padding-left: 30px;
	padding-right: 30px;
}

.buttonrow {
	margin-top: 10px;
	min-height: 10vh;
}

#submit1 {
	margin-top: 20px;
}

.top-space {
	margin-top: 70px;
}