#quadrillionaire {
	color: #bf990d; /* Yellow */
	opacity: .9;
	font-size: 300%;
	font-family: 'Roboto', sans-serif !important;
	text-transform: uppercase;
	letter-spacing: 2px !important;
	margin-bottom: 20px;
	/*padding-left: 30px;*/
	margin-top: 130px;
}

.fixed-top {
	background-color: #000;
}

.btn {
	background-color: transparent !important;
	border: 3px solid #bf990d !important;
	color: #bf990d !important;
	padding: 15px 40px !important;
	font-family: 'Roboto', sans-serif !important;
	font-size: 15px !important;
	text-transform: uppercase !important;
	font-weight: bolder !important;
	letter-spacing: 7px !important;
	margin-left: -183px;
	margin-top: 100px;
	border-radius: 0 !important;
}

#go-home {
	background-color: transparent !important;
	border: 3px solid #bf990d !important;
	color: #bf990d !important;
	padding: 15px 40px !important;
	font-family: 'Roboto', sans-serif !important;
	font-size: 15px !important;
	text-transform: uppercase !important;
	font-weight: bolder !important;
	letter-spacing: 7px !important;
	margin-left: -183px;
	margin-top: 100px;
	opacity: .9 !important;
	border-radius: 0 !important;
}

#go-home:hover {
	opacity: 1 !important;
}

#go-home:active {
	outline: 0 !important;
	background-color: #bf990d !important;
	color: #000 !important;
	opacity: 1 !important;
}

.btn:hover {
	opacity: 1 !important;
}

.btn:active {
	outline: 0 !important;
	background-color: #bf990d !important;
	color: #000 !important;
	opacity: 1 !important;
}

.btn.focus, .btn:focus {
	box-shadow: none !important;
}

#mentor-img {
	width: 100%;
}

#mentor-top-space {
	margin-top: 30px;
}

#mentor-top-space h1 {
	color: #bf990d; /* Yellow */
	opacity: .9;
	font-size: 170%;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	margin-bottom: 20px;
	/*padding-left: 30px;*/
	/*margin-top: 130px;*/
}

#mentor-top-space h2 {
	color: #fff; /* white */
	font-size: 180%;
	font-family: 'Parisienne', cursive;
	margin-bottom: 0;
	margin-top: 50px;
}

.progress {
	margin: 3px 0;
}

.pagination {
	margin-top: 10px;	
}

.page-link {
	background-color: #000 !important;
}

li a {
	color: #bf990d !important;
}

.page-link {
	border: 1px solid #bf990d !important;
}

.page-item:first-child .page-link {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.page-item:last-child .page-link {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

#no-blue1:focus {
	outline: 0 !important;
	outline-color: initial !important;
	outline-style: initial !important;
	outline-width: 0px !important;
}

.page-link:focus {
	box-shadow: none !important;
}




.progress-bar {
	background-color: #bf990d !important;
}

.container-fluid, footer {
	background-color: #000000; /* black */
	padding-top: 50px;
}

.container-fluid {
	min-height: 100vh;
}

.navbar-toggler-icon {
	margin-top: 10px;
	color: #bf990d;
	font-size: 28px;
	background-color: #000;
} 

#first-page {
	min-height: 100vh;
	/*background-color: skyblue;*/
	background: 

	linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)),
	url(../images/cave1.jpg);

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/*width: 100%;*/
}

#first-page-first-col {
	margin-top: 80px;
	width: 100%;
}

#question1 {
	color: #bf990d; /* Yellow */
	opacity: .9;
	font-size: 300%;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	margin-bottom: 20px;
	/*padding-left: 30px;*/
	margin-top: 130px;
}

#question2 {
	font-family: 'Parisienne', cursive;
	font-size: 200%;
	color: #ffffff;
	opacity: 1;
	letter-spacing: 5px;
	margin-bottom: 30px;
	font-weight: 100;
	/*padding-left: 30px;*/
}

#modalbutton {
	width: 100%;
	padding: 0 0;
	border: none;
	opacity: 1;
}



#modalbutton:focus {
	outline: 0;
}

button {
	background-color: transparent;
	border: 3px solid #bf990d;
	color: #bf990d;
	padding: 15px 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 7px;
	/*margin-left: 30px;*/
	opacity: .9;
}

button#tellme {
	margin-left: 0;
}

#tellme a {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #bf990d;
	margin-left: 0;
}

#tellme a:hover, #tellme a:active {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #bf990d;
	text-decoration: none;
}

#submit2 a:active {
	outline: 0;
	background-color: #bf990d;
	color: #000;
	opacity: .9;
}

#tellme a:hover, #tellme a:active {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #bf990d;
	text-decoration: none;
}

#submit2 {
	background-color: transparent;
	border: 3px solid #bf990d;
	color: #bf990d;
	padding: 15px 52px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 7px;
	margin-left: 30px;
	opacity: .9;
	margin-left: -207px;
	margin-top: 100px;
}

#submit2:

.navbar {
	background-color: #000000;
	margin-bottom: 100px;
	padding-left: 20px;
}

.yellow {
	color: #bf990d; /* Yellow */
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	opacity: .9;
	font-size: 20px;
	text-transform: uppercase;
}

#popup-yellow {
	color: #bf990d; /* Yellow */
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	opacity: .9;
	font-size: 20px;
	text-transform: uppercase;
}

#thick {
	font-weight: 900;
}

.navbutton:hover, #popup-yellow:hover {
	color: #bf990d;
	text-decoration: none;
	opacity: 1;
}

#tellme {
	background-color: transparent;
	border: 3px solid #bf990d;
	color: #bf990d;
	padding: 15px 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	opacity: .9;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 7px;
	margin-left: 30px;
}

#tellme:hover {
	color: #bf990d;
	opacity: 1;
}

#tellme:focus {
	outline: 0;
}

#tellme:active {
	outline: 0;
	background-color: #bf990d;
	color: #000;
	opacity: .9;
}

#second-page {
	/*margin: 90px 30px;*/
	padding-top: 100px;
	min-height: 100vh;
}

#youre-strong {
	text-transform: uppercase;
	color: #bf990d;
	font-family: 'Roboto', sans-serif;
	opacity: .9;
	font-size: 60px;
	margin-left: 20px;
}

#we-get-it {
	font-family: 'Parisienne', cursive;
	color: #fff;
	font-size: 20px;
	opacity: 1;
	letter-spacing: 1.5px;
	margin-left: 20px;
}

#badly {
	font-family: 'Roboto', sans-serif;
	color: #bf990d;
	text-transform: uppercase;
	letter-spacing: 3px;
}

#jl {
	margin-top: 0;
}

#third-page h2 {
	margin-top: 50px;
	margin-bottom: 30px;
	text-transform: uppercase;
	color: #bf990d;
	font-family: 'Roboto', sans-serif;
	opacity: .9;
	font-size: 30px;
	margin-left: 30px;
}

#cards-page {
	/*min-height: 80vh;*/
	/*width: 80%;*/
	margin-bottom: 150px;
}

#yellow-bg {
	background-color: #bf990d;
}

#hooked {
	margin-top: 50px;
	margin-bottom: 30px;
	text-transform: uppercase;
	color: #bf990d;
	font-family: 'Roboto', sans-serif;
	opacity: .9;
	font-size: 30px;
	margin-left: 20px;
	min-height: 70vh;
}

#ask {
	background-color: transparent;
	border: 3px solid #bf990d;
	color: #bf990d;
	padding: 15px 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 7px;
	margin-left: 25px;
	opacity: .9;
}

#ask:focus {
	outline: 0;
}

#ask a {
	color: #bf990d;
	font-family: 'Roboto', sans-serif;
}

#ask:active, #tellme:active {
	outline: 0 !important;
	background-color: #bf990d !important;
	color: #000 !important;
	opacity: 1 !important;
}

footer {
	font-family: 'Roboto', sans-serif;
	color: #bf990d;
	opacity: 1;
	clear: both;
}

#landing1 {
	min-height: 100vh;
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
}

#upper-margin {
	margin-top: 10px;
	font-family: 'Parisienne', cursive !important;
	color: #fff !important;
	text-transform: 
}

#landing1 .col-12 #upper-margin {
	opacity: 0.4;
	font-size: 260%;
	margin-bottom: 20px;
	padding-left: 15px;
	margin-top: 30px;
	letter-spacing: 4.5px;
}


#landing1 .col-12 button:hover {
	outline: 0 !important;
	background-color: #bf990d !important;
	color: #000 !important;
	opacity: 1 !important;
}


#landing1 .col-12 button, #landing1 .col-12 button:visited  {
	background-color: transparent;
	border: 3px solid #bf990d;
	color: #bf990d;
	padding: 15px 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 7px;
	margin-left: 15px;
	opacity: .9;	
} 

#landing1 .col-12 button {

}

#landing2 .col-12 {
	color: #bf990d; /* Yellow */
	opacity: .9;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-left: 15px;
	margin-top: 30px;
	min-height: 50vh;
}

#landing2 .col-12 h2 {
	margin-bottom: 50px;
}

#about1 {
	min-height: 40vh;
	margin-left: 15px;
	margin-right: 15px;
}

img {
	/*margin-top: 75px;*/
	width: 100%;
	margin-bottom: 0;
	display: block;
}

.card {
	border: none;
	margin: 8px;
}

#about2 {
	display: block;	
}

#about2 h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #bf990d;
	font-family: 'Roboto', sans-serif;
	opacity: .9;
	font-size: 30px;
	margin-left: 30px;
}

#about2 p {
	font-family: 'Parisienne', cursive !important;
	color: #fff;
	font-size: 26px;
	opacity: 1;
	letter-spacing: 1px !important;
	/*letter-spacing: 1.5px;*/
	margin-left: 30px;
	line-height: 1.2em;
}

#about2 button {
	margin-left: 30px;
	margin-top: -8px !important;
}

#about1 button {
	background-color: transparent;
	border: 3px solid #bf990d;
	color: #bf990d;
	padding: 15px 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 7px;
	margin-left: 30px;
	opacity: .9;
}

#mentors {
	/*margin-top: 100px;*/
	background-color: black;
	min-height: 100vh;

}

#mentor-title h2{
	/*margin-top: 100px;*/
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #bf990d;
	font-family: 'Roboto', sans-serif;
	opacity: .9;
	font-size: 300%;
	margin-left: 11px;
	position: relative;
	right: 30px;
	font-weight: bolder;
}

#mentor-title h2 {
	padding-top: 30px;
}

label {
	display: inline-block;
	float: left;
	clear: left;
	width: 250px;
	text-align: left;
	color: #bf990d;
	font-family: 'Roboto', sans-serif;
	/*margin-top: 20px;*/
	margin-bottom: 0;
}

#question {
	margin-bottom: 0;
	margin-top: 20px;
	height: 50px;
}

input, textarea, .mentor {
	/*display: inline-block;*/
	float: left;
}

form div input, form div select {
	margin-bottom: 15px;
}

form div label {
	margin-bottom: 0;
}


label, input {
	margin-bottom: 20px;
}

#contact {
	padding-left: 30px;
	padding-right: 30px;
}

#contact h1 {
	color: #bf990d; /* Yellow */
	opacity: .9;
	font-size: 200%;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	/*margin-bottom: 20px;*/
	font-weight: 900;
	margin-top: 50px;	
}

#contact p {
	font-family: 'Parisienne', cursive !important;
	color: #fff; /* Yellow */
	opacity: .9;
	font-size: 150%;
	/*margin-bottom: 20px;*/
	/*padding-left: 30px;*/
}

#contact .col-12 {
	min-height: 10px;
}

#form1 {
	min-height: 30vh;
}

#submit1 {
	background-color: transparent;
	border: 3px solid #bf990d;
	color: #bf990d;
	padding: 15px 40px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 7px;
	margin-left: 30px;
	opacity: .9;
}

#submit1:focus {
	outline: 0;
}

#submit1:hover {
	opacity: 1;
}

#submit1:active {
	outline: 0;
	background-color: #bf990d;
	color: #000;
	opacity: 1;
}



.zero-margin-bottom {
	margin-bottom: 0;
	opacity: .9;
}

footer p {
	opacity: .9;
}

.no-padding {
	padding-left: 0; !important;
	padding-right: 0; !important;
	border: none; !important;
}

.card {
	border: none !important;
}

.sides-30 {
	padding-left: 30px;
	padding-right: 30px;
}

.buttonrow {
	margin-top: 10px;
	min-height: 10vh;
}

#submit1 {
	margin-top: 20px;
}

.top-space {
	margin-top: 30px;
	height: 800px;
}

#about2 button {
	margin-left: 30px;
}

form label {
	opacity: .9;
}

.modal-header, .modal-body, .modal-footer {
	background-color: black;
}

.modal-header {
	/*border-bottom: 10px solid white;*/
	border-bottom: none !important;
}

.modal-header, .close span {
	color: #bf990d;
}

.modal-footer {
	color: white;
	justify-content: flex-start !important;
	border-top: none !important;
}

.modal-footer p {
	text-align: left !important;
}

.modal-footer button:hover {
	opacity: 1;
}

.modal-footer button:focus {
	opacity: 1;
	outline: none;
}

#mentor-image {
	opacity: 1 !important;
}


@media (max-width: 575.98px) {

	#contact-form {
		padding-left: 121px !important;
	}

	#contact p {
		margin-bottom: -21px;
	}

	#mentor-top-space h2 {
		margin-top: 14px;
	}

	#about2 p {
		margin-left: 0;
		font-size: 17.5px;
	}

	#about1 {
		min-height: 40vh;
		margin-left: -4px;
		margin-right: -4px;
	}

	#submit1 {
		background-color: transparent;
		border: 3px solid #bf990d;
		color: #bf990d;
		padding: 15px 100px;
		padding-top: 15px;
		padding-right: 100px;
		padding-bottom: 15px;
		padding-left: 100px;
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: bolder;
		letter-spacing: 7px;
		margin-left: 30px;
		opacity: .9;
	}

	#phorm input {
		padding-left: 97px;
	}

	#phorm select {
		padding-left: 129px;
	}

	#phorm textarea {
		padding-left: 116px;	
	}

	button#statistics {
		padding: 15px 53px !important;
		padding-top: 15px;
		padding-right: 54px;
		padding-bottom: 15px;
		padding-left: 54px;
	}


	#mentor-title h2 {
		/* margin-top: 100px; */
		margin-bottom: 10px;
		text-transform: uppercase;
		color: #bf990d;
		font-family: 'Roboto', sans-serif;
		opacity: .9;
		font-size: 300%;
		margin-left: 17px;
		position: relative;
		right: 30px;
		font-weight: bolder;
	}

	#ask {
		background-color: transparent;
		border: 3px solid #bf990d;
		color: #bf990d;
		padding: 15px 17px;
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: bolder;
		letter-spacing: 7px;
		margin-left: 25px;
		opacity: .9;
	}

	#question1 {
		color: #bf990d;
		opacity: .9;
		font-size: 300%;
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		margin-bottom: 20px;
		/* padding-left: 30px; */
		margin-top: 130px;
		text-align: right;
	}

	#tellme {
		background-color: transparent;
		border: 3px solid #bf990d;
		color: #bf990d;
		padding: 15px 67px;
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		opacity: .9;
		text-transform: uppercase;
		font-weight: bolder;
		letter-spacing: 7px;
		margin-left: 30px;
	}

	
	#question2 {
		font-family: 'Parisienne', cursive;
		font-size: 200%;
		color: #ffffff;
		opacity: 1;
		letter-spacing: 5px;
		margin-bottom: 30px;
		font-weight: 100;
		text-align: right;
		letter-spacing: 6px;
		/* padding-left: 30px; */
	}

	h2#thank-you2 {
		color: #fff;
		opacity: .9;
		font-size: 200%;
		font-family: 'Parisienne', cursive;
		/* text-transform: uppercase; */
		/* margin-bottom: 20px; */
		font-weight: 900;
		margin-top: 19px;
		letter-spacing: 7px !important;
		text-align: right;
	}

	h2#thank-you1 {
		color: #bf990d;
		opacity: .9;
		font-size: 200%;
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		/* margin-bottom: 20px; */
		font-weight: 900;
		margin-top: 50px;
		text-align: right;
	}

	button, optgroup, select, textarea {
		margin: 0;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		padding-left: 140px;
	}

	#landing1 .col-12 #upper-margin {
		opacity: 0.4;
		font-size: 260%;
		margin-bottom: 20px;
		padding-left: 3px;
		margin-top: 30px;
		letter-spacing: 4.5px;
		text-align: right;
		margin-right: 7px;
	}

	#landing1 .col-12 button {
		background-color: transparent;
		border: 3px solid #bf990d;
		color: #bf990d;
		padding: 15px 122px;
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: bolder;
		letter-spacing: 7px;
		margin-left: 12px;
		opacity: .4;
		margin-top: 0px;
	}

	#quadrillionaire {
		color: #bf990d;
		opacity: .9;
		font-size: 190%;
		font-family: 'Roboto', sans-serif !important;
		text-transform: uppercase;
		letter-spacing: 2.5px !important;
		margin-bottom: 20px;
		padding-left: 8px !important; 
		margin-top: -15px;
	}

	#go-home {
		margin-left: 0 !important;
		margin-top: 30px !important;
		padding: 15px 104px !important;
	}

	#landing2 {
		min-height: 82vh;
	}

	.btn {
		padding: 15px 114px !important;
		opacity: .4;
		margin-left: 0px !important;
		margin-top: 17px !important;
	}

	.card {
		border: none;
		margin: 4px;
	}

	#mentors h2 {
		font-size: 25px;
	}

	#mentors {
		min-height: 91vh;
	}

	#first-page {
		/* default height landscape*/
		height: 690px;
		background: 

		linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)),
		url(../images/cave1.jpg);

		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.top-space {
		margin-top: 30px;
		height: 50px;
	}

	#about2 h2 {
		margin-top: 172px;
		margin-left: 0;
	}

	#about2 p {
		margin-left: 0;
		font-size: 17.5px;
	}

	#about2 button {
		margin-left: 0;
		padding: 15px 59px !important;
	}

	/*#superheroes {
		margin-top: 50px;
		}*/

		#hooked {
			min-height: 65vh;
		}

		#submit1 {
			margin-left: 15px;
		}

	}

	@media (min-width: 768px) { 

		.upper-space {
			margin-left: 30px !important;
			margin-right: 30px !important;
		}

		.btn {
			padding: 15px 50px !important;
			margin-left: -204px !important;
		}

		#go-home {
			padding: 15px 50px !important;
			margin-left: 1px !important;
		}

		.space-after {
			margin-bottom: 100px;
		}

		.progress {
			height: 2rem !important;
		}


		#superheroes {
			margin-top: 250px;
		}

		#mentor-img {
			width: 100%;
		}

		#mentors {
			padding-left: 50px;
			padding-right: 50px;
			min-height: 94.5vh;
		}

		.card {
			margin: 4px;
		}

		#first-page {
			/* default height landscape*/
			height: 100px;
			background: 

			linear-gradient(
				rgba(0, 0, 0, 0.5),
				rgba(0, 0, 0, 0.5)),
			url(../images/cave1.jpg);

			background-size: cover;
			background-position: bottom;
			background-repeat: no-repeat;
		}

		#about1 {
			margin-top: 40px;
		}

		.top-space {
			margin-top: 30px;
			height: 450px;
		}

		#submit1 {
			margin-left: 16px;
		}

		#modalbuttonabout {
			width: 40%;
			padding: 0 0;
			border: none;
			opacity: 1;
		}

		#modalbuttonabout:focus {
			outline: 0;
		}

		#first-page {
			background: 

			linear-gradient(
				rgba(0, 0, 0, 0.5),
				rgba(0, 0, 0, 0.5)),
			url(../images/cave1.jpg);

			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;

			min-height: 100vh;

		}

		#second-page {
			min-height: 80vh;
		}

		#jl {
			margin-bottom: 150px;
		}

/*	#youre-strong {
		min-height: 20vh;
		}*/


	}

	@media (min-width: 992px) {

		#submit2 {
			background-color: transparent;
			border: 3px solid #bf990d;
			color: #bf990d;
			padding: 15px 52px;
			font-family: 'Roboto', sans-serif;
			font-size: 15px;
			text-transform: uppercase;
			font-weight: bolder;
			letter-spacing: 7px;
			margin-left: 30px;
			opacity: .9;
			margin-left: -207px;
			margin-top: 100px;
		}

		#submit2:hover {
			opacity: 1;
		}

		#submit2:focus {
			outline: 0;
		}


		.space-after {
			margin-bottom: 175px !important;
		}

		.progress {
			height: 2rem !important;
		}

		#cards-page {
			margin-bottom: 300px;
		}

		#three-steps {
			margin-top:	100px;
		}

		#about {
			min-height: 93.5vh !important;
		}

		#second-page .col-12.col-lg-6 {
			margin-top: 200px;
		}

		#second-page {
			min-height: 100vh;
		}

		#superheroes {
			margin-top: 10px !important;
		}

		#contact {
			min-height: 93vh !important;
		}

		#mentor-img {
			width: 100%;
		}

		#modalbuttonabout {
			width: 50%;
			padding: 0 0;
			border: none;
			opacity: 1;
		}

		#mentors {
			padding-left: 350px;
			padding-right: 350px;
			min-height: 93.5vh;
		}

		#about2 p {
			font-family: 'Parisienne', cursive !important;
			color: #fff;
			font-size: 26px;
			opacity: 1;
			letter-spacing: 0px !important;
			margin-left: 30px !important;
			line-height: 1.2em !important;
			margin-bottom: 4px !important;
		}
	}

	h2#thank-you1 {
		color: #bf990d; /* Yellow */
		opacity: .9;
		font-size: 200%;
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		/*margin-bottom: 20px;*/
		font-weight: 900;
		margin-top: 50px;
	}

	h2#thank-you2 {
		color: #fff; /* Yellow */
		opacity: 1;
		font-size: 200%;
		font-family: 'Parisienne', cursive;
		/*text-transform: uppercase;*/
		/*margin-bottom: 20px;*/
		font-weight: 900;
		margin-top: 50px;
	}

	.upper-space {
		margin-top: 100px;
	}

	/*#superheroes {
		width: 90%;
		margin-top: 50px;
		}*/

		/* Set the size of the div element that contains the map */
		#map {
			height: 400px;  /* The height is 400 pixels */
			width: 100%;  /* The width is the width of the web page */
		}

		#yes:focus {
			outline: 0;
		}

		#yes:hover {
			opacity: 1 !important;
		}

